/*請勿擅自修改 by haco吳淑玲*hacodog@gmail.com*/

/* 整體設定、背景、段落、字體*/

.text {
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border: 1px solid #00F;
	height: 100px;
}
body {
	font-size: 14px;
	font-family: 微軟正黑體, 標楷體, 細明體, Arial, MS Gothic, Helvetica, sans-serif;
	margin: 0px;
	padding-left: 47%;
	position: absolute;
	background: #f2f2f3 url() center repeat-y;
	table-layout: fixed; 
	word-wrap: break-word;
	word-break: normal; 
	text-align: justify; 
	text-justify: inter-ideograph;
}

/* This is the page container  */
#container {
	width: 925px;
	margin-left: -450px;
	background-color: #FFFFFF;
	height: auto;
}


#content {
	width: 875px;
	height: auto;
	padding: 0px 0px 0px 0px;
	margin:  0px 25px 25px 25px;	
	background-color: #FFFFFF;
	border-bottom-width: 0px;
	border-bottom-style: dotted ;
	border-bottom-color: #000;
	float: left;
               }


#content2 {
	width: 875px;
	height: auto;
	padding: 0px;
	background-color: #FFFFFF;
	border-bottom-width: 0px;
	border-bottom-style: dotted;
	border-bottom-color: #000;
	float: left;
	margin-top: 0px;
	margin-right: 25px;
	margin-bottom: 25px;
	margin-left: 25px;
               }


img {
    vertical-align: text-bottom;
}

#img-left {
	float: left;
	width: 420px;
	margin: 0px 25px 25px 0px;}

.img-left img {
	float:left;
	border: 0px solid #ccc;
	padding: 0px 25px 25px 0px;} 

#img-left span{	 
 	float:left;
	margin: 25px 25px 25px 0px;
	padding: 0px px 0px 0px;
	color:#3D3D3D;
}

#img-right {
	float: right;
	width: 420px;
margin: 25px 0px 25px 25px;}

.img-right img {
	float: right;
	border: 0px solid #ccc;
	padding: 0px 0px 25px 25px;} 

#img-right span{	 
 	float: right;
	margin: 0px 0px 25px 25px;
	padding: 0px px 0px 0px;
	color:#3D3D3D;
}
#img-top img {
	float:left;
	border: 0px solid #ccc;
	margin: 25px 0px 0px 0px;
	padding: 0px px 0px 0px;
		} 

/* Style-up those ugly default hyperlinks */
a {
	text-decoration: none;
	padding: 0;
	margin: 0;
	color: #3D3D3D;
}

/* And their ugly hover states too */
a:link {color: #3D3D3D; border-bottom: 0px solid #fff; background: transparent;}
a:visited {color: #3D3D3D; border-bottom: 0px solid #fff; background: transparent;}
a:hover {color: #488E48; border-bottom: 0px solid #fff; background: transparent;} 



#topbanner{
	width: 925px;
	height: 15px;
	background:#FFFFFF;
	font-size: 12px;



    font-weight: ;
	letter-spacing: 5px;
	color: #3D3D3D;
	text-align: right;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}


#header {
	width: 925px;
	height: 298px;
	background:#FFFFFF;
}


#company {
	width: 875px;
	height: auto;
	padding: 25px 0px 25px 0px;
	background-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: dotted ;
	border-bottom-color: #000;
	float: left;
}


#company2 {
	width: 875px;
	height: auto;
	padding: 25px  0px 25px 0px;
	background-color: #FFFFFF;
	border-bottom-width: 0px;
	border-bottom-style: dotted ;
	border-bottom-color: #000;
	float: left;
}

#company3 {
	width: 875px;
	height: auto;
	padding: 0px 0px 0px 0px;
	background-color: #FFFFFF;
	border-bottom-width: 0px;
	border-bottom-style: dotted ;
	border-bottom-color: #000;
	float: left;
}


#mainEntryTitle {
	width: 875px;
	font-size: 15px;
	font-weight:;
	background-color: #FFFFFF;
	height: 40px;
	padding: 25px  0px 0px 0px;	
	margin: 0px 0px 0px 0px;
}


#mainEntryTitleleft {
	width: 550px;
	font-size: 20px;
	font-weight:bold;
	background-color: #FFFFFF;
	height: 40px;
	padding: 0px;
	margin: 0px;
	float: left;
	color:#00A300;
}


#mainEntryTitleright {
	width: 260px;
	font-size: 12px;

	font-weight:;
	text-align:right;
	background-color: #FFFFFF;
	height: 40px;
	padding: 0px;
	margin: 0px;
	float: right;
}

#mainEntryTitleleft2 {
	width: 700px;
	font-size: 20px;
	font-weight:bold;
	background-color: #FFFFFF;
	height: 40px;
	padding: 0px  0px 0px 0px;	
	margin: 0px 0px 0px 0px;
	float: left;
	color:#00A300;
}


#mainEntryTitleright2 {
	width: 150px;
	font-size: 12px;
	font-weight:;
	text-align:right ;
	background-color: #FFFFFF;
	height: 40px;
	padding: 0px  0px 0px 0px;	
	margin: 0px 0px 0px 0px;
	float: right;
}

#mainEntryTitleleft3 {
	width: 550px;
	font-size: 20px;
	font-weight:bold;
	background-color: #FFFFFF;
	height: 40px;
	padding: 0px  0px 0px 0px;	
	margin: 0px 0px 0px 0px;
	float: left;
	color:#00A300;
}


#mainEntryTitleright3 {
	width: 300px;
	font-size: 12px;
	font-weight:;
	text-align:right ;
	background-color: #FFFFFF;
	height: 40px;
	padding: 0px  0px 0px 0px;	
	margin: 0px 0px 0px 0px;
	float: right;
}

#compal-body {
	background-color: #FFFFFF;
	width: 875px;	
	height: auto;
	float: left;
	padding: 25px 0px 25px 00px;
	margin: 0px 0px 0px 0px;
	vertical-align: text-top;
}


#compal-body2 {
	background-color: #FFFFFF;
	width: 875px;	
	height: auto;
	float: left;
	padding: 25px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	vertical-align: text-top;
}

.compal-bodytext {
	line-height:25px;
	table-layout: fixed; 
	word-wrap: break-word;
	word-break: normal;
	text-align: justify; 
	text-justify: inter-ideograph;
}

.compal-bodytext64 {
	line-height:25px;
	table-layout: fixed;
	word-wrap: break-word;
	word-break: normal;
	text-align: justify;
	text-justify: inter-ideograph;
	color: #930;
}

.compal-bodytext2 {
	line-height:25px;
	table-layout: fixed;
	word-wrap: break-word;
	word-break: normal;
	text-align: justify;
	text-justify: inter-ideograph;
	text-indent: 2em;
	padding-right: 20px;
	padding-left: 20px;

}
.compal-bodytext2-2 {/*rock-add-2013/12/04*/
	line-height:25px;
	table-layout: fixed;
	word-wrap: break-word;
	word-break: normal;
	text-align: justify;
	text-justify: inter-ideograph;
	padding-right: 20px;
	padding-left: 20px;
	color: #930;
	font-size: 18px;	
}
.compal-bodytext2-3 {/*rock-add-2013/12/04*/
	color: #930;
	font-size: 15px;	
}
.compal-bodytext2c {
	line-height:25px;
	table-layout: fixed;
	word-wrap: break-word;
	word-break: normal;
	text-align: justify;
	text-justify: inter-ideograph;
	text-indent: 2em;
	padding-right: 20px;
	padding-left: 20px;
	font-style: italic;
}

.compal-bodytext21{
	line-height:25px;
	table-layout: fixed;
	word-wrap: break-word;
	word-break: normal;
	text-align: justify;
	text-justify: inter-ideograph;
	text-indent: 2em;
	padding-right: 0px;
	padding-left: 20px;

}

.compal-bodytext22{
	line-height:25px;
	table-layout: fixed;
	word-wrap: break-word;
	word-break: normal;
	text-align: justify;
	text-justify: inter-ideograph;
	text-indent: 2em;
	padding-right: 20px;
	padding-left: 0px;

}


.compal-bodytext3 {
	font-weight:bold;
	table-layout: fixed;
	word-wrap: break-word;
	word-break: normal;
	text-align: justify;
	text-justify: inter-ideograph;
	font-size: 15px;
}

.compal-bodytext31 {
	color:#990033;
	font-weight:bold;
	table-layout: fixed;
	word-wrap: break-word;
	word-break: normal;
	text-align: justify;
	text-justify: inter-ideograph;
	line-height:2em;
}

.compal-bodytext5  {
	font-size: 16px;
	font-weight:bold;
	color: #676767;
	table-layout: fixed; 
	word-wrap: break-word;
	word-break: normal;
	text-align: justify; 
	text-justify: inter-ideograph;
}


#compal-bodytext4 {
	background-color: #FFFFFF;
	width: 875px;	
	height: auto;
	float: left;
	padding: 10px 0px 15px 0px;
	margin: 0px 0px 0px 0px;

	font-weight:bold;
	table-layout: fixed; 
	word-wrap: break-word;
	word-break: normal;
	text-align: justify; 
	text-justify: inter-ideograph;

}


#compal-body li {
	background-color: #FFFFFF;
	width: 550px;	
	height: auto;
	float: left;
	padding: 5px 0px 5px 0px;
	margin: 0px 0px 0px 12px;

}


#li{
	line-height:25px;
	height: 25px;
	width: 550px;
	table-layout: fixed; 
	word-wrap: break-word;
	word-break: normal;
	text-align: justify; 
	text-justify: inter-ideograph;
	list-style-type: disc; 

}


p span {
 font-size:30px; 
 float:left;
 padding-right:5px;
 font-family:Arial, MS Gothic, Helvetica, sans-serif;
 color:#3D3D3D;
}

#imagespaceright {
	background-color: #FFFFFF;
	width: 425px;
	height: auto;
	float: right;
	padding: 21px 0px 0px 0px;
	margin:  0px 0px 0px 0px;
}

#imagespaceleft {
	background-color: #FFFFFF;
	width: 425px;
	height: autopx;
	float: left;
	padding: 0px 0px 0px 0px;
	margin:  0px 0px 0px 0px;
	
}



#topimagesbox {
	width: 875px;
	font-size: 15px;
	font-weight:bold;
	background-color: #FFFFFF;
	height: auto;
	padding: 0px 0px 0px 0px;	
	margin: 25px 0px 25px 0px;
	text-align: center;
}

#bottom-imagesbox {
	float: left;
	width: 875px;
	font-size: 15px;
	font-weight:bold;
	background-color: #FFFFFF;
	height: auto;
	padding: 0px 0px 0px 0px;	
	margin: 0px 0px 25px 0px;
	text-align: center;
}




#topimages {
	width: 875px;
	height:auto;
	padding: 0px  0px 0px 0px;
	background-color: #FFFFFF;
	border-bottom-width: 0px;
	border-bottom-style: dotted ;
	border-bottom-color: #000;
}

#columnsleft {
	background-color: #FFFFFF;
	width: 275px;
	height: auto;
	float: left;
	padding: 0px 0px 0px 0px;
	margin:  0px 0px 0px 0px;
}

#columnsright {
	background-color: #FFFFFF;
	width: 275px;
	height: auto;
	float:  left;
	padding: 0px 0px 0px 0px;
	margin:  0px 0px 0px 25px;
}

#columnsleft2 {
	background-color: #FFFFFF;
	width: 575px;
	height: auto;
	float: left;
	padding: 0px 0px 0px 0px;
	margin:  0px 0px 0px 0px;
}

#columnsleft3 {
	background-color: #FFFFFF;
	width: 457px;
	height: auto;
	float: left;
	padding: 0px 0px 0px 0px;
	margin:  0px 0px 0px 0px;
}

#footer {
	width: 925px;
	height: 25px;
	background: url(../images/footerbg_tit.jpg) ;
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	clear: both;
	clear: both;
	padding: 0px 0px 0px 0px;
	margin:  0px 0px 0px 0px;
}
#footer a:link {color: #FFFFFF; border-bottom: 0px solid #FFFFFF; background: transparent;} 
#footer a:visited {color: #FFFFFF; border-bottom: 0px solid #FFFFFF; background: transparent;}
#footer a:hover {color: #666666; border-bottom: 0px solid #FFFFFF; background: transparent;}


.txt_01{
	color:#060;
	font-weight: bold;
}
.txt_01_1{
	color:#060;
	font-weight: bold;
	padding-left: 20px;
}
.txt_02{
	color:#C03;
	font-weight: bold;
}
.txt_03{
	color:#03F;
}
.txt_04{
	color:#F0F;
}
.txt_05{
	color:#F90;
}
.txt_06{
	color:#669;
}
.txt_07{
	color:#039;
}
.txt_08{
	color:#000;
	line-height: 20px;
}
.txt_08_1{
	color:#000;
	line-height: 20px;
	padding-left: 20px;
}
.txt_08_2{
	color:#00F;
	font-weight: bold;
	line-height: 20px;
	padding-left: 20px;
}
.txt_64{
	color:#930;
	font-size: 20px;
}
.padding_001{
	padding-left: 20px;}
