vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|24 Mar 2012 01:18:12 -0000
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|仁寶園地/baby-slideshow.html
vti_author:SR|HACO-COM\\HACO
vti_modifiedby:SR|HACO-COM\\HACO
vti_timecreated:TR|15 Mar 2012 18:01:51 -0000
vti_nexttolasttimemodified:TW|24 Mar 2012 00:57:57 -0000
vti_cacheddtm:TX|24 Mar 2012 01:18:12 -0000
vti_filesize:IR|9312
vti_cachedlinkinfo:VX|S|loader.gif
vti_cachedsvcrellinks:VX|FSUS|仁寶園地/css/loader.gif
