vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|22 Mar 2012 23:50:25 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|HACO-COM\\HACO
vti_modifiedby:SR|HACO-COM\\HACO
vti_timecreated:TR|22 Mar 2012 23:50:25 -0000
vti_cacheddtm:TX|22 Mar 2012 23:50:25 -0000
vti_filesize:IR|8091
vti_cachedlinkinfo:VX|S|../images/footerbg_tit.jpg
vti_cachedsvcrellinks:VX|FSUS|仁寶園地/images/footerbg_tit.jpg
vti_backlinkinfo:VX|仁寶園地/compal3.html 仁寶園地/compal4-3-2.html 仁寶園地/compal4-3-1.html 仁寶園地/compal2-1-2.html 仁寶園地/compal2-3.html 仁寶園地/compal2-4.html 仁寶園地/compal7-1.html 仁寶園地/compal7-2.html 仁寶園地/compal2-1-1.html 仁寶園地/compal4-1demo.html 仁寶園地/compal4-1.html 仁寶園地/compal4-2.html 仁寶園地/compal6.html 仁寶園地/compal5.html
