@charset "utf-8";
/* CSS Document */

ul,ol{
	margin:0px;
	padding:0px;
	list-style-type:none;
     }


#nav{
	width:1920px;
	height:40px;
	background-color: #FFF;
	padding: 0px;
	margin: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	}
#nav ul{
	height:30px;
	   }
#nav ul li{
	float:left;
	line-height:30px;
	width: 120px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
		  }
#nav ul li:hover .owrap{
	display:block;
	}
#nav ul li .owrap{
	position:absolute;
	display:none;
    }
#nav ul li ol li{
	width:100px;
	float:left;
	line-height:25px;
	padding:0px;
	background-color: #CCC;
	margin-top: 3px;
    }

#menu {
	list-style: none;
	position: relative;
	width: 1920px;
	float: none;
	text-align: center;
	background-position: center;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0px;
	font-family: "微軟正黑體";
	font-size: 14px;
	top: 4px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0px;
	padding-left: 230px;
	height: 40px;
	}
	#menu li {
	width: 100px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
	text-align: center;
	float: left;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0px;
	padding: 0;
	height: 30px;
	}
	
#menu li a {
	display: block;
	color: #000;
	text-decoration: none;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
	}
	
#menu li a:link {
	color: #000;
	border-bottom: 0px solid #fff;
	background: transparent;
}
#menu li a:visited {
	color: #000;
	border-bottom: 0px solid #fff;
	background: transparent;
}
#menu li a:hover {
	color: #488E48;
	border-bottom: 0px solid #fff;
} 

#menu li ol li a {
	display: block;
	color: #FFF;
	text-decoration: none;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
	}
	
#menu li  ol li a:link {
	color: #FFF;
	border-bottom: 0px solid #fff;
	background: transparent;
}
#menu li  ol li a:visited {
	color: #FFF;
	border-bottom: 0px solid #fff;
	background: transparent;
}
#menu li  ol li a:hover {
	color: #488E48;
	border-bottom: 0px solid #fff;
} 
